<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Projektitöö: "Võlapäevade trendid"</title>

    <!-- Kui CDN ei tööta sisevõrgus, kasuta lokaalselt: <script src="echarts.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class="site-header">
    <div class="top-bar">
        <img src="/static/logo.png" class="site-logo"> 
        <div class="site-title">Projektitöö: "Võlapäevade trendid"</div>
    </div>

    <div id="errorBox" class="error"></div>
    <div class="main-menu">
      <a class="" href="/chart1">Kaalutud keskmine võlapäevade arv</a>
      <a class="" href="/chart2">Võlas ettevõtete ja lepingute arv</a>
      <a class="" href="/overdues_report">Kaalutud keskmiste võlapäevade aruanne</a>
    </div>
</div>

</body>
</html>
